.DS_Store

generated-outputs/bookmarks/
generated-outputs/databases/*.db
generated-outputs/results/*.json
generated-outputs/runners/*.json

__pycache__/

attack-modules/cache.json
datasets/cache.json
metrics/cache.json
connectors-endpoints/*.json
recipes/*.json